header {
  min-width: 600px;
  width: 100%;
  background: url("../imgs/header-bg.png");
  overflow: hidden;
  /*  Main Navigation  */

  /* Subscribe */

  /* Logo */

  /* Quick Search */

}
header .header-top {
  width: 100%;
  height: 60px;
  background: url("../imgs/header-nav-bg.png");
  position: fixed;
  z-index: 999;
}
header .header-main {
  height: 140px;
  padding-top: 60px;
}
header .container {
  width: 978px;
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  header .container {
    width: 100%;
  }
}
header nav {
  height: 100%;
  float: left;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
header nav ul li {
  height: 100%;
  display: inline-block;
  position: relative;
}
header nav ul li a:link,
header nav ul li a:visited {
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin: 0;
  padding: 0 11px;
  height: 100%;
  color: #BEBEBE;
  text-shadow: 0 -1px 0 #0a0a0a;
  line-height: 68px;
}
header nav ul li a:hover,
header nav ul li a:active {
  border: none;
  color: #adff2f;
}
header nav ul li#current a {
  color: #adff2f;
}
header nav ul li#current span {
  position: absolute;
  display: block;
  background: url("../imgs/selected.png") no-repeat 50% 0;
  bottom: -9px;
  height: 10px;
  width: 100%;
}
header .subscribe-wrap {
  width: 1000px;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
}
header .subscribe-wrap .subscribe {
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  width: 150px;
  height: 30px;
  color: #BEBEBE;
  text-shadow: 0 -1px 0 #0a0a0a;
  background: url("../images/rss32.png") no-repeat 0 center;
  float: right;
  padding-left: 28px;
  margin-top: 6px;
  margin-right: 68px;
}
header .subscribe-wrap .subscribe a {
  padding-right: 3px;
  padding-left: 3px;
  color: #ffffff;
}
header .subscribe-wrap .subscribe a:hover,
header .subscribe-wrap .subscribe a:active {
  color: #adff2f;
}
header .logo-wrap {
  width: 215px;
  display: table-cell;
  vertical-align: middle;
}
header .logo-wrap hgroup {
  background: url("../images/logo.png") no-repeat;
  height: 62px;
  width: 215px;
  margin-left: 10px;
}
header .logo-wrap hgroup h1 {
  margin: 0;
  padding: 0;
}
header .logo-wrap hgroup h1 a {
  text-indent: -9999em;
  display: block;
  height: 48px;
  width: 215px;
}
header .logo-wrap hgroup h3 {
  text-indent: -9999em;
  height: 0;
}
header .search-wrap {
  width: 250px;
}
header .search-wrap form#quick-search {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  width: 250px;
}
header .search-wrap form#quick-search .search {
  border: none;
  height: 38px;
  padding: 0;
  margin: 0;
  background: #fff;
  border: 1px solid #d2e2e8;
}
header .search-wrap form#quick-search .search input {
  border: none;
  float: left;
  padding: 0;
  margin: 0;
}
header .search-wrap form#quick-search .search input.tbox {
  font-weight: normal;
  margin: 12px 0 10px 10px;
  background: transparent;
  width: 200px;
}
header .search-wrap form#quick-search .search button {
  border: none;
  float: right;
  padding: 0;
  margin: 0;
}
header .search-wrap form#quick-search .search button.btn {
  width: 38px;
  height: 38px;
  cursor: pointer;
  text-indent: -9999px;
  background: url("../images/search.png") no-repeat center center;
}
header .search-wrap form#quick-search .search label {
  display: none;
}
#main {
  width: 978px;
  margin: 40px auto 0 auto;
}
#main article {
  border-bottom: orangered solid 1px;
}
#main article:last-child {
  border: none;
}
#main article aside {
  position: relative;
  width: 135px;
  float: left;
  /* Post Meta */

}
#main article aside p.dateinfo {
  background: url(../images/date-bg.png) no-repeat;
  height: 70px;
  width: 60px;
  margin: 10px 0 0 78px;
  padding: 7px 0 0 0;
  font: bold 15px Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 0 -1px 0 #0a0a0a;
}
#main article aside p.dateinfo span {
  font: bold 26px 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, Sans-Serif;
  display: block;
  color: #444;
  margin: 5px 0 0 0;
  padding: 0;
  letter-spacing: 0;
  text-shadow: none;
}
#main article aside .post-meta {
  width: 138px;
  font-size: .9em;
  margin: 20px 0;
  padding: 0;
}
#main article aside .post-meta h4 {
  text-align: right;
  margin: 0 0 12px 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
}
#main article aside .post-meta ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #E5E5E5;
}
#main article aside .post-meta ul li {
  padding: 4px 0;
  margin: 0;
  text-align: right;
  border-bottom: 1px solid #E5E5E5;
}
#main article aside .post-meta ul li.user {
  background: url(../images/user.png) no-repeat 2px center;
}
#main article aside .post-meta ul li.time {
  background: url(../images/clock.png) no-repeat 2px center;
}
#main article aside .post-meta ul li.comment {
  background: url(../images/comment.png) no-repeat 2px center;
}
#main article aside .post-meta ul li.permalink {
  background: url(../images/permalink.png) no-repeat 2px center;
}
#main article aside .post-meta ul li a {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, Sans-Serif;
  font-size: 12px;
  color: #666666;
}
#main article aside .post-meta ul li a:hover {
  color: #CC3300;
}
#main article aside .post-meta ul.tags li {
  background: url(../images/tag.png) no-repeat 2px center;
}
#main article .primary {
  padding: 0 25px;
}
#main h2 {
  font-size: 34px;
  letter-spacing: -0.5px;
}
#main h2 a {
  color: #353535;
}
